<style>
    div.scrollmenu {
        margin-left: 5vw;
        background-color: #F9F9F9;
        overflow: auto;
        white-space: nowrap;
        width: 80%;
        height: 20vh;
        align-content: center;
    }

    div.scrollmenu a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px;
        text-decoration: none;
    }
    a {
        height: 100%;
    }

    .card {
        height: 90%;
    }
    .buttonContainer{
        margin-top: 4.5em;
    }  
</style>
<div class="row ">
    <div class="buttonContainer col s1">
        <button onclick="horizontalScrollLeft()" href="#!" class="btn-floating btn-small waves-effect waves-light red ">
            <i class="material-icons bold" style="color:blue;">keyboard_arrow_left</i>

        </button>
    </div>
    <div class="scrollmenu col s10" id="scrollmenu">


        <!-- <a href="#news">
                    <div id="pic1" class="card" style="height: 128px;width:173">
                        <div class="overlay"></div>
                        <div class="card-content">
                            <span>Content</span>
                            <p>Some regular text</p>
                            <p>
                                <a href="#!" class="btn btn-small btn-flat waves-effect waves-light">
                                    <i class="material-icons left">cloud</i>
                                    Learn more
                                </a>
                            </p>
                        </div>
                    </div>
                </a> -->
        <a href="#news">
            <div id="pic2" class="card">
                <div class="overlay btn btn-small btn-flat waves-effect waves-light" style="height: 100%"></div>
                <div class="card-content">
                    <span>Content</span>
                    <p>Some regular text</p>

                </div>
            </div>
        </a>
        <a href="#news">
            <div id="pic3" class="card">
                <div class="overlay btn btn-small btn-flat waves-effect waves-light" style="height: 100%"></div>
                <div class="card-content">
                    <span>Content</span>
                    <p>Some regular text</p>

                </div>
            </div>
        </a>
        <a href="#news">
            <div id="pic4" class="card">
                <div class="overlay btn btn-small btn-flat waves-effect waves-light" style="height: 100%"></div>
                <div class="card-content">
                    <span>Content</span>
                    <p>Some regular text</p>

                </div>
            </div>
        </a>
        <a href="#news">
            <div id="pic5" class="card">
                <div class="overlay btn btn-small btn-flat waves-effect waves-light" style="height: 100%"></div>
                <div class="card-content">
                    <span>Content</span>
                    <p>Some regular text</p>

                </div>
            </div>
        </a>
        <a href="#news">
            <div id="pic6" class="card">
                <div class="overlay btn btn-small btn-flat waves-effect waves-light" style="height: 100%"></div>
                <div class="card-content">
                    <span>Content</span>
                    <p>Some regular text</p>

                </div>
            </div>
        </a>
        <a href="#news">
            <div id="pic7" class="card">
                <div class="overlay btn btn-small btn-flat waves-effect waves-light" style="height: 100%"></div>
                <div class="card-content">
                    <span>Content</span>
                    <p>Some regular text</p>

                </div>
            </div>
        </a>
        <a href="#news">
            <div id="pic8" class="card">
                <div class="overlay btn btn-small btn-flat waves-effect waves-light" style="height: 100%"></div>
                <div class="card-content">
                    <span>Content</span>
                    <p>Some regular text</p>

                </div>
            </div>
        </a>
        <a href="#news">
            <div id="pic7" class="card">
                <div class="overlay btn btn-small btn-flat waves-effect waves-light" style="height: 100%"></div>
                <div class="card-content">
                    <span>Content</span>
                    <p>Some regular text</p>

                </div>
            </div>
        </a>
        <a href="#news">
            <div id="pic5" class="card">
                <div class="overlay btn btn-small btn-flat waves-effect waves-light" style="height: 100%"></div>
                <div class="card-content">
                    <span>Content</span>
                    <p>Some regular text</p>

                </div>
            </div>
        </a>
        <a href="#news">
            <div id="pic4" class="card">
                <div class="overlay btn btn-small btn-flat waves-effect waves-light" style="height: 100%"></div>
                <div class="card-content">
                    <span>Content</span>
                    <p>Some regular text</p>

                </div>
            </div>
        </a>
        <a href="#news">
            <div id="pic1" class="card">
                <div class="overlay btn btn-small btn-flat waves-effect waves-light" style="height: 100%"></div>
                <div class="card-content">
                    <span>Content</span>
                    <p>Some regular text</p>

                </div>
            </div>
        </a>
        <a href="#news">
            <div id="pic2" class="card">
                <div class="overlay btn btn-small btn-flat waves-effect waves-light" style="height: 100%"></div>
                <div class="card-content">
                    <span>Content</span>
                    <p>Some regular text</p>

                </div>
            </div>
        </a>
        <a href="#news">
            <div id="pic2" class="card">
                <div class="overlay btn btn-small btn-flat waves-effect waves-light" style="height: 100%"></div>
                <div class="card-content">
                    <span>Content</span>
                    <p>Some regular text</p>

                </div>
            </div>
        </a>

    </div>
    <div class="buttonContainer col s1">
        <button onclick="horizontalScrollRight()" href="#!"
            class="btn-floating btn-small waves-effect waves-light red ">
            <i class="material-icons" style="color:blue;">keyboard_arrow_right</i>
        </button>
    </div>

</div>

<script>
    // left Button
    function horizontalScrollLeft() {
        var elmnt = document.getElementById("scrollmenu");
        elmnt.scrollLeft -= 800;
    }
    //right Button
    function horizontalScrollRight() {
        var elmnt = document.getElementById("scrollmenu");
        elmnt.scrollLeft += 800;
    }
</script>