<div class="upper-nav-bar">
    <div class="row">
        <div class="col-md-2">
            <p class="welcomeMessage">
                Welcome Smart
            </p>
        </div>
        <div class="input-group col-md-6" style="margin-top: 10px;">
            <input type="text" class="form-control" placeholder="search" aria-label="Recipient's username"
                aria-describedby="basic-addon2" style="border-radius: 10px 0px 0px 10px;background-color: #F0F1F3;">
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2"
                    style="background-color: #5C4E8E;border-radius: 0px 10px 10px 0px;margin-right: 20px;height: 39.5px;">Search</span>
            </div>
        </div>
        <div class="col-md-4" style="margin-top: 15px;">
            notifications/profile pic/ points?
        </div>
    </div>
</div>