body {
    background: #F9F9F9;
}

.sidebar {
    background-color: #FBD7D1;
    border: 1px solid rgba(151, 151, 151, 0.00);
    box-shadow: 1px 0 5px 0 rgba(0, 0, 0, 0.30);
    border-radius: 0 30px 0 0;
    height: 100vh;
    /*set height equal to device screen*/
    width: 80%;
    margin-left: -15px;
}

.profilePhoto {
    border: 1px solid #979797;
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.50);
}

.content-section {
    height: 100vh;
    /*set height equal to device screen*/
    width: 80vw;
    overflow: scroll;
    margin-left: -70px;
    background: #F9F9F9;

}

.card {
    background: red;
    width: 100px;
    height: 100px;
    display: inline-block;
    /* Sketch doesnt export pattern fills at this point */
    border: 0 solid #979797;
    border: 1px solid #979797;
    box-shadow: 0 7px 7px 1px rgba(0, 0, 0, 0.50);
    border-radius: 5px;
}

div.scrollmenu {
    background-color: red;
    overflow: auto;
    white-space: nowrap;
    width: 300px;
    height: 33vh;
    align-content: center;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}
.full_container{
    display: flex;
    justify-content: flex-start
}
/* carousel Start */